python-dotenv  # If you want to use environment variables for config
Jinja2  # For generating resumes dynamically
reportlab  # If you want to generate PDFs directly
PyPDF2
pdfplumber
python-docx==0.8.11
pandas
selenium
webdriver_manager
bs4
pytest
black
pylint